<div class="form-row">
  <div class="form-item">
    <label>Name</label>
    <input type="text" name="name" value="<%= guide.name %>">
  </div>
  <div class="form-item">
    <label>Phone</label>
    <input type="text" name="phone" value="<%= guide.phone %>">
  </div>
  <div class="form-item">
    <label>Salary</label>
    <input type="text" name="salary" value="<%= guide.salary %>">
  </div>
</div>